.user-view {
  text-align: center;
}

img {
  padding-top: 10px;
  padding-bottom: 20px;
}

.card-deck {
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

.label {
  font-weight: bold;
}

.btn-outline-primary {
  margin-left: 10px;

}

.btn-danger {
  margin-top: 10px;
}

.profileField {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.cancel {
  margin-top: 10px;
}