.registration-form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  padding-top: 50px;
  margin: auto;
  height: 100%;
}

.btn-primary {
  margin-top: 20px;
}

.form-group {
  padding-top: 20px;
}